body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nebula-1 {
  float: left;
  width: 300px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.nebula-2 {
  float: right;
  width: 300px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
